/* -- JUMBO SECTION -- */

.jumbo{

    /* dimension */
    height: calc(100vh - 100px); 

    /* display */
    display: flex;
    justify-content: center;
    align-items: center;

    /* text */
    color: #FFF;
    font-size: 6vw;
    font-weight: bolder;
    letter-spacing: 2px;
    

    /* background */
    background-image: url("../images/jumbo-background.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbo .CTA{

    /* display */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

}

.jumbo .CTA .btns .btn-type1{
    /* animation */
    transition: transform .2s;
}


/* -- SECTION  -- */

.sec-1 .wrapper, .sec-2 .wrapper{
    
    /* dimension */
    height: 50vh;
    
    /* margin + padding */
    /* padding: 50px; */
    
    
    /* display */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* text */
    font-size: 25px;
    
    /* background */
    background-color: #FFF;
    
    /* style */
    border-radius: 4vw;
    
}

.sec-1 .img:hover, .sec-2 .img:hover{
    filter: brightness(50%);
}

.sec-1 .wrapper .img a, .sec-2 .wrapper .img a{
    /* dimension */
    height: 100%;
    width: 100%;
    
    /* display */
    display: none;
    
}

.sec-1 .wrapper .img:hover a, .sec-2 .wrapper .img:hover a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec-1 .wrapper .txt, .sec-2 .wrapper .txt{
    padding-right: 5vw;
    padding-left: 5vw;
}

.sec-1 .wrapper .txt h2, .sec-2 .wrapper .txt h2{
    /* text */
    font-size: 4.5vw;
    color: #4C4C4C;
    
}

/* SECTION 1 */

.sec-1{
    
    /* margin+padding */
    padding-top: 5vh;
    padding-right: 3vw;
    padding-left: 3vw;
    padding-bottom: 5vh;
    
}

.sec-1 .img{
    /* dimension */
    height: 100%;
    width: 100%;
    
    /* background */
    background-image: url("../images/img-sec1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    /* display */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* text */
    font-size: 4.5vw;
    
    /* style */
    border-top-left-radius: 4vw;
    border-bottom-left-radius: 4vw; 
    
    /* animation */   
}

.sec-1 .wrapper .txt{
    /* text */
    text-align: end;
}

/* SECTION 2 */

.sec-2{
    padding-bottom: 5vh;
    padding-right: 3vw;
    padding-left: 3vw;
}

.sec-2 .wrapper{
    /* display */
    flex-direction: row-reverse;
}

.sec-2 .img{
    /* dimension */
    height: 100%;
    width: 100%;

    /* background */
    background-image: url("../images/img-sec2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /* display */
    display: flex;
    justify-content: center;
    align-items: center;
 
    /* text */
    font-size: 4.5vw;
 

    /* style */
    border-top-right-radius: 4vw;
    border-bottom-right-radius: 4vw; 
}




/* -- DISCOVER-MORE -- */

#discover-more{
    /* dimension */
    height: 100vh;

    /* margin + padding */
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-right: 3vw;
    padding-left: 3vw;

}

#discover-more .wrapper{

    /* dimension */
    height: 90vh;

    /* display */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    /* background */
    background-color: #D20000;

    /* text */
    font-size: 4vw;
    color: #FFF;

    /* padding */
    padding-top: 10%;
    padding-bottom: 10%;
    gap: 6vh;

    /* style */
    border-radius: 4vw;

}

#discover-more .menu ul{
    /* display */
    display: flex;
    gap: 3vw;
}

#discover-more .menu ul li{
    list-style: none;
}

#discover-more .btn-type3{
    /* style */
    transition: transform .2s;
}

#discover-more .btn-type3:hover{
    transform: scale(1.05);
}

#discover-more .btn-type3 a{
    /* dimension */
    height: 100%;
    width: 100%;

    /* display */
    display: flex;
    align-items: center;
    justify-content: center;

    /* text */
    font-size: 3.5vw;
}

#discover-more .box-1{
    /* background */
    background-image: url("../images/img-home.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#discover-more .box-2{
    /* background */
    background-image: url("../images/img-aboutus.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#discover-more .box-3{
    /* background */
    background-image: url("../images/img-contacts.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



