/* -- JUMBO SECTION -- */
.jumbo{
    /* dimension */
    height: calc(100vh - 100px); 

    /* display */
    display: flex;
    justify-content: center;
    align-items: center;

    /* text */
    color: #FFF;
    font-size: 90px;
    font-weight: bolder;
    letter-spacing: 2px;
    

    /* background */
    background-image: url("../images/jumbo-background.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* border */
    border-bottom: 3px solid black;

}

.jumbo .CTA{

    /* display */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

}

.jumbo .CTA .btns .btn-type1, .jumbo .CTA .btns .btn-type2{
    /* animation */
    transition: transform .2s;
}

.jumbo .CTA .btns .btn-type1:hover, .jumbo .CTA .btns .btn-type2:hover{
    background-color: #000;
    transform: scale(1.2);
}


/* -- SECTION 1 -- */
.sec-1 .wrapper, .sec-2 .wrapper{

    /* display */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

    /* background */
    background-color: #FFF;

    /* text */
    font-size: 25px;

}

.sec-1 .wrapper .txt{
    text-align: end;
}

.sec-1 .wrapper .txt, .sec-2 .wrapper .txt{
    padding-right: 50px;
    padding-left: 50px;
}

.sec-2 .wrapper{
    /* display */
    flex-direction: row-reverse;
}



