/* -- CSS Reset -- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* link default */
a{
    text-decoration: none;
    color: #FFF;
}

/* body default */
body{
    /* text */
    font-family: 'Inter', sans-serif;

    /* background */
    background-color: #DBDBDB;
}


/* -- UTILITIES -- */

.wrapper{
    /* dimension */
    max-width: 2200px;
    margin: 0 auto;

    /* border */
    /* border: 2px solid black; */
}

/* buttons */
.btns{
    /* display */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

/* small button */
.btn-type1 {
    /* margin + padding */
    padding: 10px 20px;

    /* text */
    font-size: 2vw;
    font-weight: bold;
    color: #FFF;

    /* background */
    background-color: #000;

    /* style */
    border-radius: 2vw;
    cursor: pointer;
    
}

.btn-type1:hover{
    transform: scale(1.1);
    background-color: #D20000;
}

/* medium button */
.btn-type3{

    /* dimension */
    height: 45vh;
    width: 16vw;


    /* display */
    display: flex;
    justify-content: center;
    align-items: center;



    /* style */
    border-radius: 25px;
    cursor: pointer;
}



/* -- HEADER + NAVBAR -- */


nav{
    /* dimension */
    height: 200px;

    /* background */
    background-color: #000;

    /* text */
    font-weight: bold;
    font-size: 40px;
    color: #FFF;

}

nav .wrapper{
    /* dimension */
    height: 200px;

    /* margin and padding */
    padding-left: 20px;
    padding-right: 20px;

    /* display */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo img{
    /* dimesnion */
    height: 50px;
    width: 150px;
    /* margin */
    margin-right: auot;
    margin-top: 10px;
}

nav .brand-name img{
    /* dimension */
    height: 50px;
    /* margin */
    margin-right: auto;
    margin-left: auto;
}

nav .menu ul{
    /* display */
    display: flex;
    gap: 50px;

    /* margin */
    margin-left: auto;
}

nav .menu ul li{
    /* style */
    list-style: none; 
    /* text */
    font-size: 30px;
}


/* navbar menu-link style */
nav .menu ul li a{
    /* style */
    color: #FFF;

}

nav .menu ul li a:hover{
    color: #D1D1D1;
    text-decoration: underline;
}

/* -- FOOTER -- */
footer{

    /* dimension */
    height: 700px;

    /* background */
    background-color: black;

    /* text */
    color: #FFF;
    font-size: 30px;
    font-weight: lighter;
}

footer .foot{
    border-bottom: 5px solid #FFF;
}


footer .wrapper{
    /* dimension */
    height: 600px;
    /* margin + padding */
    padding: 50px;
    /* display */
    display: flex;
    justify-content: space-between;

}

.foot ul li {
    list-style: none;
    margin-top: 20px;
}

.foot .logo .img{
    /* dimension */
    height: 50px;
}

.foot .menu {
    /* display */
    display: flex;
    justify-content: end;
    gap: 150px;
}

footer .copyright{

    /* margin + padding */
    margin: 20px;

    /* text */
    font-weight: lighter;

    /* display */
    display: flex;
    justify-content: center;
    align-items: center;
}








