/* -- CSS Reset -- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* link default */
a{
    text-decoration: none;
    color: #FFF;
}

/* body default */
body{
    /* text */
    font-family: 'Inter', sans-serif;

    /* background */
    background-color: #DBDBDB;
}


/* -- UTILITIES -- */

.wrapper{
    /* dimension */
    max-width: 2000px;
    margin: 0 auto;

    /* border */
    /* border: 2px solid black; */
}

/* buttons */
.btns{
    /* display */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

/* small button */
.btn-type1 {
    /* margin + padding */
    padding: 1vh 1vw;

    /* text */
    font-size: 2vw;
    font-weight: bold;
    color: #FFF;

    /* background */
    background-color: #000;

    /* style */
    border-radius: 2vw;
    cursor: pointer;
    
}

.btn-type1:hover{
    transform: scale(1.05);
    background-color: #D20000;
}

/* medium button */
.btn-type3{

    /* dimension */
    height: 45vh;
    width: 16vw;


    /* display */
    display: flex;
    justify-content: center;
    align-items: center;



    /* style */
    border-radius: 2vw;
    cursor: pointer;
}



/* -- HEADER + NAVBAR -- */


nav{
    /* dimension */
    height: 15vh;

    /* background */
    background-color: #000;

    /* text */
    font-weight: bold;
    font-size: 40px;
    color: #FFF;

}

nav .wrapper{
    /* dimension */
    height: 15vh;

    /* margin and padding */
    padding-left: 2vh;
    padding-right: 2vw;

    /* display */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    display: none;
}

nav .logo img{
    /* dimesnion */
    height: 5vh;
    width: 15vw;

    /* margin */
    margin-right: auto;
    margin-top: 1vh;
}

nav .brand-name img{
    /* dimension */
    height: 5vh;
    /* margin */
}

nav .menu ul{
    /* display */
    display: flex;
    gap: 2vw;

    /* margin */
    margin-left: auto;
}

nav .menu ul li{
    /* style */
    list-style: none; 
    /* text */
    font-size: 2vh;
}


/* navbar menu-link style */
nav .menu ul li a{
    /* style */
    color: #FFF;

}

nav .menu ul li a:hover{
    color: #D1D1D1;
    text-decoration: underline;
}

nav .burger-menu {
    display: none;
    height: 6vh;
    width: 10vw;

    background-image: url(../images/burger-menu.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

nav .burger-menu a {
    height: 100%;
    width: 100%;
    font-size: 1px;
}

nav .burger-menu:hover {
    filter: brightness(50%);
}

/* -- FOOTER -- */
footer{

    /* dimension */
    height: 70vh;

    /* background */
    background-color: black;

    /* text */
    color: #FFF;
    font-size: 1.5vw;
    font-weight: lighter;
}

footer .foot{
    border-bottom: 5px solid #FFF;
}


footer .wrapper{
    /* dimension */
    height: 60vh;
    /* margin + padding */
    padding: 2vh 2vw;
    /* display */
    display: flex;
    justify-content: space-between;

}

.foot ul li {
    list-style: none;
    margin-top: 2vh;
}

.foot .logo {
    display: none;
}

.foot .logo img{
    /* dimesnion */
    height: 5vh;
    width: 15vw;

    /* margin */
    margin-right: auto;
    margin-top: 1vh;
}

.foot .brand-name .img{
    /* dimension */
    height: 5vh;
    width: 15vw;
}

.foot .menu {
    /* display */
    display: flex;
    justify-content: end;
    gap: 6vh;
}

footer .copyright{

    /* margin + padding */
    margin: 20px;

    /* text */
    font-weight: lighter;

    /* display */
    display: flex;
    justify-content: center;
    align-items: center;
}


/* -- MEDIA QUERIES -- */

/* Mobile */
@media only screen and (max-width: 1000px) {

    /* utilities */
    .btn-type1 {
        font-size: 4vw;
    }

    .btn-type3 {
        height: 20vh;
        width: 60vw;
    }

    /* navbar */
    nav .logo {
        display: block;
    }

    nav .brand-name {
        display: none;
    }

    nav .menu{
        display: none;
    }

    nav .burger-menu {
        display: block;
    }
    
    /* footer */
    footer {
        font-size: 3vw;
    }

    .foot .brand-name {
        display: none;
    }

    .foot .logo{
        display: block;
    }



}








